<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3 text-center logo">			
				<a href="/">
					<img src="/images/logo.png" alt="" class="img-responsive">
				</a>		
			</div>
			<div class="col-xs-12 col-md-5 col-md-offset-4 text-center account">
				<div class="row">
					<div class="btn-group" role="group">
						<% if (user) { %>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-red-default upper dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-user"></i>
									<%= user.name %>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="/account/<%= user.slug %>">Profile</a>
									</li>
									<li>
										<a href="/account/logout">Logout</a>
									</li>
								</ul>
							</div>
						<% } else { %>
							<a href="/account" class="btn btn-red-default upper">
								entra / registrar
							</a>
						<% } %>
						<% if (cart_g._id) { %>
							<a href="/cart/<%= cart_g._id %>" class="btn btn-red-default shopping upper">
								<i class="fa fa-shopping-cart"></i>
								<span class="badge"><%= cart_g.count %></span>
							</a>
						<% } else { %>
							<a href="" class="btn btn-red-default shopping upper">
								<i class="fa fa-shopping-cart"></i>
								<span class="badge"><%= cart_g.count %></span>
							</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
							<a href="/">home</a>
						</li>
						<% for (var i = 0; i < categories_menu.length; i++) {%>
							<li>
								<a href="/category/<%= categories_menu[i].slug %>"><%= categories_menu[i].name %></a>
							</li>
						<% } %>
                    </ul>
                </div>
            </nav>
        </div>
	</div>

	<div id="slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill img-responsive" style="background-image:url(/images/slide/1.jpg)"></div>
				<div class="carousel-caption">
					<h2>Test text 1</h2>
					<p>Test text 1</p>
				</div>
			</div>
			<div class="item">
				<div class="fill img-responsive" style="background-image:url(/images/slide/2.jpg)"></div>
				<div class="carousel-caption">
					<h2>Test text 2</h2>
					<p>Test text 2</p>
				</div>
			</div>
			<div class="item">
				<div class="fill img-responsive" style="background-image:url(/images/slide/3.jpg)"></div>
				<div class="carousel-caption">
					<h2>Test text 3</h2>
					<p>Test text 3</p>
				</div>
			</div>
			<a href="#slider" class="left carousel-control" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a href="#slider" class="right carousel-control" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
</header>